<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.meonggae.product.ProductDetailInfoMapper">

<!-- 공통쿼리문 작성 -->
<sql id="countSteam">
select count(*)
from STEAM s
JOIN MEMBER m ON s.MEM_NUM = m.MEM_NUM
where m.MEM_STATUS in ('N', 'S')
and s.steam_flag='Y'
</sql>

<!-- 상품의 전체 찜 횟수 조회 -->
<select id="countAllSteam" resultType="int" parameterType="String">
<include refid="countSteam"/>
and s.goods_num=#{ goodsNum }
</select>

<!-- 회원의 찜 여부 조회 찜했으면 1 아니면 0-->
<select id="checkMemSteam" resultType="int" parameterType="com.store.meonggae.product.vo.SteamVO">
<include refid="countSteam"/>
and s.goods_num=#{ goodsNum }
and s.mem_num=#{ memNum }
</select>

<!-- 값이 있으면 다시찜. 없으면 첫찜. -->
<select id="checkFirstSteam" resultType="int" parameterType="com.store.meonggae.product.vo.SteamVO">
select count(*) 
from steam 
where goods_num=#{ goodsNum } 
and mem_num=#{ memNum }
</select>

<!-- 찜 등록(첫 찜) -->
<insert id="insertSteam" parameterType="com.store.meonggae.product.vo.SteamVO">
insert into steam(GOODS_NUM, MEM_NUM, STEAM_FLAG, INPUT_DATE) 
values( #{ goodsNum }, #{ memNum }, 'Y', sysdate)
</insert>

<!-- 찜 등록(삭제 후 다시 찜) -->
<update id="updateSteamToY" parameterType="com.store.meonggae.product.vo.SteamVO">
update steam
set steam_flag='Y'
where goods_num=#{ goodsNum }
and mem_num=#{ memNum }
</update>

<!-- 찜 삭제(update STEAM_FLAG='N') -->
<update id="updateSteamToN" parameterType="com.store.meonggae.product.vo.SteamVO">
update steam
set steam_flag='N'
where goods_num=#{ goodsNum }
and mem_num=#{ memNum }
</update>


</mapper>